body{ 
     font:12px "ו"; 
     text-align:center; 
     margin:0px; 
     background-color:#FFF; 
} 
#container{ 
     width:800px; 
     margin:0px auto; 
} 
#header{ 
     width:800px; 
     margin:0px auto; 
} 
#menu{ 
     width:800px; 
     height:74px; 
     margin:0px auto; 
     background:url("../images/logo.gif") no-repeat; 
} 
#banner{ 
     width:778px; 
     height:183px; 
     margin:0px auto; 
     background:url('../images/banner.jpg') no-repeat; 
     border-bottom:5px solid #EFEF00; 
} 
#pagebody{ 
     width:778px; 

     margin:5px auto; 
} 
#sidebar{ 
     width:163px; 
  
     float:left; 
     background-color:#BDBDBD; 
 
} 
#login{ 
     margin:10px 0px 0px 0px; 
} 
#mainbody{ 
     text-align:left; 
     width:610px; 
     max-height: 60vh;
     float:right; 
     background-color:#D8D8D8; 
     overflow-y: auto;
  
} 
#mainfunction{ 
     margin:10px 0px 0px 10px; 
} 
#footer{ 
     width:778px; 
     min-height:40px; 
     margin:0px auto; 
     background-color:#FFCC00; 
     padding:20px 0px 0px 0px; 
     font-weight:bolder; 
} 
#menu ul{ 
     list-style:none; 
     float:right; 
     margin:25px 10px 0px 0px; 
} 
#menu ul li{ 
     float:left; 
     margin:0 10px; 
     line-height:28px; 
} 
.menudiv{ 
     width:2px; 
     height:28px; 
     background:#999; 
} 
#menu ul li a:link,#menu ul li a:visited{ 
     font-weight:bold; 
     color:#666; 
     text-decoration:none; 
     background-color:#efefef; 
} 
#menu ul li a:hover{ 
     background:#666; 
     color:#fff; 
} 
a:link,a:visited{ 
     text-decoration:none; 
} 
a:hover{ 
     background:#666; 
     color:#fff; 
} 
#mainfunction img{ 
     max-width:480px; 
     width:expression(this.width > 480 ? "480px" : this.width); 
} 
.error_msg{
    color: rgb(255, 102, 102);
    font-size:xx-small;
    text-align:right;
}
.registration-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;  
    text-align: center;
    width: fit-content;
    height: fit-content;
    max-width: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    border: 3px solid #cc4444;
    position: fixed;
    inset: 0px;
    margin: auto;
    z-index: 9999;
}
.registration-form .section-label {
    color: #FF6F61;
    margin-bottom: 20px;
    text-align: left;
    color:grey;
    
}

input {
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #cc4444;
    margin: 2px;
    padding: 4px 10px;
    max-width: 100%;
}
#formhide {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
}

.brand .signup-btn {
    color: #FF6F61;
    background: #facac6;
    border: 1px solid #FF6F61;
    border-radius: 4px 4px;
    padding: 13px 15px;
}

.brand .signup-btn:hover {
    color: #ffffff;
    background: #FF6F61;
    border-color: #FF6F61;
}