RewriteOptions inherit
RewriteEngine On

DirectoryIndex disabled
Options -Indexes
DirectoryIndex index.php

ErrorDocument 400 /index.php?url=error_pages/404.html
ErrorDocument 403 /index.php?url=error_pages/404.html
ErrorDocument 404 /index.php?url=error_pages/404.html
ErrorDocument 405 /index.php?url=error_pages/404.html

php_value default_charset gbk